{{#extend "layouts/main"}}

{{#content "body"}}
<h1>Panel de Administración</h1>
<p>Bienvenido, administrador.</p>
<ul>
    <li><a href="/admin/users">Gestionar Usuarios</a></li>
    <li><a href="/admin/products">Gestionar Productos</a></li>
</ul>
{{/content}}
